@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap');

html, body {
  overflow-x: hidden;
  margin: 0
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #FEF6F1;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px
}

header, footer {
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  z-index: 500
}

#imgkeys1{
  position: absolute;
  overflow: hidden;
  bottom: -500px;
  left: 0px;
  width: 100%;
}

#keys{
  position: relative;
  top: 570px;
}

.keyContainer{
  width: 49%;
  position: relative;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.key {
  display: flex;
  position: relative;
  right: 0px;
  min-width: 35px;
  height: 35px;
  padding: 4px 0 0 6px;
  background: #ffeca9;
  border: 2px solid #CDC7C3;
  border-radius: 6px;
  box-shadow: inset -3px -2px 0 0 #ccc;
  text-align: left;
  margin-left: 25%;
  margin-right: 10%;
  font-size: 15px
}


.mainContainer_inicio{
  width: 100%;
  height: 100%;
  background-image: url(../images/inicio.png);
  background-repeat: no-repeat;
}
.mainContainer_tutorial{
  width: 100%;
  height: 100%;
  background-image: url(../images/tutorial.png);
  background-repeat: no-repeat;
}
.container1{
  filter: blur(10px);
}
.container1#blur.active{
  filter: blur(0px);
}
.start1{
  cursor: pointer;
}
#popup{
  position: fixed;
  width: 430px;
  height: 214px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #8F9BFF;
  color: #fff;
  border-radius: 10px;
  border-style: none;
  box-shadow: 2px 2px 2px rgb(156, 156, 156);
  cursor: pointer;
}
h1{
 margin: 0%;
 font-family: 'Nunito', sans-serif;
 font-size: 50px;
}
h2{
  font-family: 'Nunito', sans-serif ;
}
p{
  margin: 0%;
  font-family: 'Nunito', sans-serif ;
  font-size: 24px;
}
#popup.active{
  top: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.start{
  width: 252px;
  height: 84px;
  margin-top: 530px;
  margin-left: 40%;
  background-color: #8F9BFF;
  color: #fff;
  border-style: none;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgb(156, 156, 156);
  cursor: pointer;
}

/*@media (prefers-color-scheme: dark) {
  body {
    background-color: #000 !important;
    color: #fff !important
  }

  .key {
    background: #ffeca9;
    border: 2px solid #CDC7C3;
    box-shadow: inset -6px -4px 0 0 #1b1b1b
  }
}*/


@media only screen and (max-width: 769px) {
  body {
    font-size: 13px
  }

}